
@{
    ViewData["Title"] = "Página Inicio Demo Dot Net en Visual Studio for Mac";
}

<div class="jumbotron">
    <h1>Universidad Autonoma que es Pública— UAP</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Universidad Autonoma que es Pública</h2>
        <p>
            UAP es una aplicación muestra que ejemplifica
            como usar <em>Entity Framework Core</em>  en
            <em>ASP.NET Core MVC web application</em>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hazlo desde cero</h2>
        <p>Este demo sigue el tutorial de dela página docs.asp.net .</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Forkealo!</h2>
        <p>el código fuente del tutorial creado por microsoft está en GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
        <p> esté demo modificado puedes consultarlo en el siguiente enlace de GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/pazthor/demoDotNetCore">aquí mi <em>source code </em> &raquo;</a></p>
    </div>
</div>
